---
import ProjectCard from '../components/ProjectCard.tsx'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alan's Portfolio">
    
		<section id="">
            <p style="color:white;">
                I welcome you to my <span class="text-italic"> animus</span>.
                I am a software engineer with a focus on  <span class="text-bold">website development</span> based off the West Coast of the continental United States.
            </p>
		</section>
</Layout>


                    <!-- <ProjectCard
                    sTitle='NarakaWeb'
                    sDescription={`Narakaweb is a project where I pull data from an api and database in order to display that useful information.
                    There are 3 different places where data is pulled form: My database where information about the heroes and souljades are pulled from 
                    an API that shows statistics on hero winrates, pickrates, etc. ; Game news and player count from the Steam Web API.`}
                    sLink={`https://www.narakaweb.com`}
                    arrTech={["Typescript", "Tailwind", "NextJS"]}
                    sImg="/narakaweb-prev.png"
                    /> -->



<style lang="less">







</style>