---
import ProjectCard from '../components/ProjectCard.tsx'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alan's Portfolio">
    
		<section id="">
            
                    <ProjectCard
                    sTitle='NarakaWeb'
                    sDescription={`Website built to show hero statistics among other information for the Steam game Naraka: Bladepoint.`}
                    sLink={`https://www.narakaweb.com`}
                    arrTech={["Typescript", "Tailwind", "NextJS"]}
                    sImg="/portfolio/narakaweb-prev.png"
                    />

		</section>
</Layout>


                    <!-- <ProjectCard
                    sTitle='NarakaWeb'
                    sDescription={`Narakaweb is a project where I pull data from an api and database in order to display that useful information.
                    There are 3 different places where data is pulled form: My database where information about the heroes and souljades are pulled from 
                    an API that shows statistics on hero winrates, pickrates, etc. ; Game news and player count from the Steam Web API.`}
                    sLink={`https://www.narakaweb.com`}
                    arrTech={["Typescript", "Tailwind", "NextJS"]}
                    sImg="/narakaweb-prev.png"
                    /> -->



<style lang="less">







</style>