---

import SocialMediaIcons from "../components/SocialMediaIconComponent";
import ContactForm from '../components/ContactForm';
import { ViewTransitions } from 'astro:transitions';
import AnimatedCursor from "react-animated-cursor"
interface Props {
	title: string;
}

const { title } = Astro.props;

const menuLinks = [
    {
        title: "Home",
        link: "/portfolio"
    }, {
        title: "Projects",
        link: "/portfolio/projects"
    }, {
        title: "Contact",
        link: "#contact"
    }
]
---
<ViewTransitions/>

<!doctype html>
<html lang="en">
	<head>
		
        <link rel="stylesheet" href="./styles/global.css">
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

	</head>
	<body>


		<div id="background-styling" class="p-12 min-w-[750px]">
		<div id=""class="">
			<div class=" items-center flex flex-row justify-between">
				<div>
					<SocialMediaIcons
						sSocialType="github"
						anySocialLink= ""
						className=" w-20 h-20 bg-black p-3 rounded-full"
					/>
				</div>
				<div class=" flex flex-col justify-end">
					<h1 class=" m-0 p-0 text-[150px]">&Z Dev</h1>
					<h2 class=" m-0 p-0 text-[40px]">Software Engineer</h2>

				</div>
			</div>

			<nav class="flex flex-row gap-1">
				{menuLinks.map((item)=>(
                   <a href={item.link}><div class=" default-text p-3 border border-solid border-white filter-bw background-radial-black">{item.title}</div></a>
                ))}
            </nav>
           
		</div>
        <main class=" mt-10">
			<div class=" border border-solid border-white p-4 background-radial-black filter-bw min-h-[450px] max-h-[450px]">
				<div class=" flex flex-col justify-start">

					<slot transition:animate="fade" />
				</div>
			</div>
        </main>
	</div>
	<div id="contact" class=" min-w-[750px] w-full h-screen">
		
		<div class="flex flex-col items-center justify-center h-full">
			<ContactForm/>
		
		</div>
	</div>
	</body>

	<style is:global>

#tech-card{
	color:black;
}

		.background-radial-black {
  background: radial-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.521));
}
.background-sepia {
  backdrop-filter: sepia(100%);
}
* {
  box-sizing: border-box;
}
.default-text {
  font-family: 'Fanwood Text', serif;
  font-size: calc(1.2rem + 1vw);
  color: white;
}
.default-text-small {
  font-family: 'Fanwood Text', serif;
  font-size: calc(0.8rem + 1vw);
  color: white;
}
.default-text-smaller {
  font-family: 'Fanwood Text', serif;
  font-size: calc(0.4rem + 1vw);
  color: white;
}
.default-text-roboto-small {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.8rem + 1vw);
  color: white;
}
.default-text-roboto-smaller {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.01rem + 1vw);
  color: white;
}
p {
  font-family: 'Fanwood Text', serif;
  font-size: calc(1.2rem + 1vw);
  color: black;
}
h1,
h2,
h5 {
  font-family: 'Quattrocento', serif;
}
h1 {
  font-weight: bold;
  color: transparent;
  font-size: calc(9rem + 2vw);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.432);
}
h2 {
  font-size: calc(0.5rem + 2vw);
}
h5 {
  font-size: calc(1rem + 0.75vw);
}
html {
  scroll-behavior: smooth ;
}
body,
html {
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: 'Fanwood Text', serif;
  font-size: calc(1rem);
}
a {
  text-decoration: none;
  color: white;
}
.text-italic {
  font-style: italic;
}
.text-bold {
  font-weight: bold;
}
.section-style {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0px;
}
.input-box {
  font-size: calc(0.3rem + 1vw);
  width: 650px;
  padding: 5px 15px 5px 15px;
}
.filter-bw {
  backdrop-filter: grayscale(100%);
}
#contact {
  background-image: url('../DP148130.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#background-styling {
  background-image: url('../DP148130.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#section-one {
  background-image: url('../DP148130.jpg');
  background-size: cover;
  background-attachment: fixed;
}
	</style>
</html>


